
<div fxLayout = "column"  fxLayoutAlign = "center center" style = "height:100vh">

  <mat-card fxFlexAlign = "center center" >

      <mat-card-title>
          <span fxFlex></span>
          <strong style="font-size: 55px;font-family: 'Cabin Sketch', cursive; color: darkgreen">Assetscube</strong>
           <span fxFlex></span>        
         </mat-card-title>
         <mat-card-subtitle>
           <span fxFlex></span>
           <div fxFlexAlign = "center" class = "login100-form-title">Login </div>
           <span fxFlex></span>
         </mat-card-subtitle>

    <br>
    <br>
    <div fxLayout = "column"  fxLayoutAlign = "center center">
    
    <button mat-icon-button	 fxFlexFill fxFlex = "1 1 80%" class="btn-login-with bg1" (click)="login('nawalcube')"><strong>Login with Nawalcube</strong></button>
    <br>
    <button mat-icon-button	 fxFlexFill fxFlex = "1 1 80%" class="btn-login-with bg2" (click)="login('upstox')"><strong>Login with Upstox</strong></button>
    </div>
  </mat-card>

</div>